* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headSection {
  background: linear-gradient(171.01deg, #404eed 6.98%, #1d236d 156.3%);
  box-shadow: inset 0px -15px 52px -40px #000000;
  padding: 24px;
  height: 280%;
}

.mainHeading {
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
}

/* Component Input  */
input {
  background: rgba(236, 236, 236, 0.5);
  border-radius: 12px;
  border: none;
  padding: 5px;
  width: 80%;
  margin-bottom: 12px !important;
}

input:focus-visible {
  border: 2px solid #404eed !important;
}

label {
  font-weight: 500;
  font-size: 10.5px;
  color: rgba(18, 18, 18, 0.7);
}

/* Component Heading  */
.subHeading {
  background: linear-gradient(90.32deg, #404eed 0%, #1d236d 100%);
  box-shadow: 0px 4px 10px rgba(64, 78, 237, 0.2);
  color: #ffffff;
  padding: 8px 8px;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 8px;
}
.subHeading h2{
    font-size: 20px;
}
.card {
  background: #ffffff;
  box-shadow: 0px 4px 30px 20px rgba(0, 0, 0, 0.04);
  padding: 24px;
  border: none !important;
}

/* Component box  */
.box {
  background: rgba(236, 236, 236, 0.5);
  border-radius: 12px;
  padding: 8px;
  width: 60%;
  margin: 0 auto;
}
.box:hover {
    background: rgba(161, 161, 161, 0.5);
    
  }
.boxLabel {
  font-weight: 500;
  font-size: 12px;
  color: rgba(18, 18, 18, 0.7);
  text-align: center;
}

/* PieChart */
.PieChart {
  margin-top: -150px;
}

.textRed {
  color: #890f0d;
  font-weight: 600;
  font-size: 14px;
}

.textGreen {
  color: #219f94;
  font-weight: 600;
  font-size: 14px;
}

.list li::before {
  content: "\2022";
  color: blue;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  font-size: 30px;
}

li {
  list-style-type: none;
}

/* Button Styling  */
.tabButton {
  background: rgba(64, 78, 237, 0.15);
  border-radius: 12px;
  color: #404eed;
  font-size: 15px;
  border: none;
  text-align: center;
  padding: 10px;
  width: 100%;
  height: 100%;
  font-weight: 600;
}

.tabButton:focus {
  background: linear-gradient(94.67deg, #404eed 0.73%, #1d236d 99.47%);
  border-radius: 12px;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
}
.subBtn {
  text-align: center;
  margin: 0 auto;
  width: 40%;
}
/* Footer */
.footer {
  background: #404eed;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}
.footer li {
  list-style-type: none;
  padding: 12px 0;
  text-align: center;
}
.socialIcon {
  background-color: #fff;
  width: 30px;
  height: 30px;
  color: #1d236d;
  margin-top: 16px;
  text-align: center;
}
